* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #001D39;
    font-family: "Lexend Exa", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    padding: 0.625rem 2.5rem;
}

.main-header img {
    width: 12.5rem;
    height: auto;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 0.625rem 1.25rem; 
    border-radius: 0.625rem; 
    background-color: #002b57;
    margin-left: 2.5rem;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li a {
    position: relative;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    margin: 0 0.5rem;
    letter-spacing: 0.0625rem;
    transition: 0.4s ease;
}

ul li a::before,
ul li a::after {
    content: '';
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    border: 0.125rem solid #FFFFFF;
    opacity: 0;
    transition: all 0.4s ease;
}

ul li a::before {
    bottom: 0.625rem;
    left: 0.625rem;
    border-width: 0 0.125rem 0.125rem 0;
}

ul li a::after {
    top: 0.625rem;
    right: 0.625rem;
    border-width: 0.125rem 0 0 0.125rem;
}

ul li a:hover {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
}

ul li a:hover::before {
    bottom: -0.5rem;
    left: -0.5rem;
    opacity: 1;
}

ul li a:hover::after {
    top: -0.5rem;
    right: -0.5rem;
    opacity: 1;
}
